@media screen and (max-width: 992px) {
  .main-title {
    font-size: 3em;
  }
  .main-text>p {
    font-size: 1em;
  }
  .link3 {
    width: 100%;
  }
  .nav-bar>ul>li {
    padding: 3px;
    font-size: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .advantages-block-text p{
    font-size: 15px;
  }
  .advantages-block-text-title {
    font-size: 20px;
  }
  .forWhom-icon {
    width: 120px;
  }
  .forWhom-text {
    font-size: 16px
  }
  .footer-feedback {
    font-size: 11px;
  }
  .all-link {
    font-size: 10px;
  }
  .footer-social>a>img {
    width: 30px;
  }
}

@media screen and (max-width: 576px) {
  .main-title {
    font-size: 30px;
  }
  .main-text_sup {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .nav-bar {
    margin-top: 10px;
  }
  .nav-bar>ul {
    padding: 0!important;
    font-size: 15px
  }
  .nav-logo {
    padding: 10px 12px;
  }
  .advantages-title h2 {
    font-size: 26px;
  }
  .forWhom-block>.row>div {
    margin:10px 0;
  }
  .footer-social{
    margin-left: 50px;
  }
  .popUp-block {
    width: 100%;
  }
  .popUp-block-title>h1 {
    text-align: center;
    font-size: 25px;
    padding-right: 20px;
  }
  .popUp-block-wrap {
    height: 80%;
  }
  .popUp-block-wrap>form>p {
    width: 100%;
  }
  .btnSumbit {
    margin: 0 auto;
    width: 180px!important;
  }
  .xs-logo {
    width: 50%;
  }

}
